@import './base.css';

#app {
  margin: 0;
  padding: 2rem;
  font-weight: normal;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  --el-color-primary: #2e55ef;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
  }
}
